{% extends "base.html" %}

{% block content %}
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <h1 class="fw-bolder">Book's Detail</h1>
            <p class="lead mb-0">Detail of: {{ticket.title}}</p>
            <p class="lead mb-0">Publish by: {{ticket.user.username}}</p>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8 offset-lg-2">
                <div class="row mb-5">
                    <div class="col-lg-7">
                        <h1>{{ticket.title}}</h1>
                        <i>{{ticket.author}}</i>
                        <p>{{ticket.description}}</p>
                    </div>
                    <div class="col-lg-5 image_detail">
                        <img src="../../{{ticket.image}}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8 offset-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Author</th>
                                    <th scope="col">Headline</th>
                                    <th scope="col">Review</th>
                                    <th scope="col">Note</th>
                                    <th scope="col">Author link</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for review in reviews %}
                                <tr>
                                    <th>{{review.user.username}}</th>
                                    <th>{{review.headline}}</th>
                                    <td>{{review.body}}</td>
                                    <td>{{review.rating}}★</td>
                                    <td><a href="{% url 'author_detail' review.user.id %}" class="btn btn-secondary">Read</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}