{% extends "base.html" %}

{% block content %}
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <h1 class="fw-bolder">List of Review</h1>
            <p class="lead mb-0">The site of all books reviews</p>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-10 offset-1">
                <div class="row">
                    {% for review in reviews %}
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <div class="card-body review_box">
                                    <div class="col-8">
                                        <h2>{{review.headline|truncatechars:14}} <br/>{{review.rating_star}}</h2>
                                        <p>Author: {{review.user.username}}</p>
                                        <p>Date: {{review.time_created}}</p>
                                        <p>{{review.body|truncatechars:30 }}</p>

                                        <div class="row">
                                            <div class="col-2">
                                                <a class="btn btn-secondary" href="{% url 'ticket_detail' review.ticket.id %}">Read</a>
                                            </div>
                                            {% if user == review.user %}
                                            <div class="col-2 offset-2">
                                                <a class="btn btn-secondary" href="{% url 'edit_review' review.id %}">Edit</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                    <div class="col-4 second_part_box_review">
                                        <img src="../{{review.ticket.image}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}